<% object = @story %>
<%= semantic_form_for [:admin,object], html: {multipart: true} do |f| %>
  <%= f.semantic_errors *f.object.errors.keys %>
  <%= f.inputs do %>
    <%= render layout: 'shared/form/translated_inputs',
               locals: { object: object } do |enabled_locale, enabled_locale_name| %>
      <%= f.input "title_#{enabled_locale}",
                  label: t('shared.labels.translated_field',
                         field: t('activerecord.attributes.story.title'),
                         language: enabled_locale_name) %>
      <%= f.input "subheader_#{enabled_locale}",
                  label: t('shared.labels.translated_field',
                         field: t('activerecord.attributes.story.subheader'),
                         language: enabled_locale_name) %>
      <%= f.input "author_#{enabled_locale}",
                  label: t('shared.labels.translated_field',
                         field: t('activerecord.attributes.story.author'),
                         language: enabled_locale_name) %>
      <%= f.input "author_organization_#{enabled_locale}",
                  label: t('shared.labels.translated_field',
                         field: t('activerecord.attributes.story.author_organization'),
                         language: enabled_locale_name) %>
      <%= f.input "content_#{enabled_locale}",
                  as: :text,
                  label: t('shared.labels.translated_field',
                         field: t('activerecord.attributes.story.content'),
                         language: enabled_locale_name),
                  input_html: { class: 'js-become-rich-text-editor' } %>
      <%= f.input "footnotes_#{enabled_locale}",
                  as: :text,
                  label: t('shared.labels.translated_field',
                         field: t('activerecord.attributes.story.footnotes'),
                         language: enabled_locale_name),
                  input_html: { class: 'js-become-rich-text-editor' } %>
      <hr />
      <h2><%= t('.home') %></h2>

      <%= f.input "title_home_#{enabled_locale}",
                  label: t('shared.labels.translated_field',
                         field: t('activerecord.attributes.story.title_home'),
                         language: enabled_locale_name) %>
      <hr />
      <h2><%= t('.share') %></h2>

      <%= f.input "title_share_#{enabled_locale}",
                  label: t('shared.labels.translated_field',
                         field: t('activerecord.attributes.story.title_share'),
                         language: enabled_locale_name) %>

      <%= f.input "description_share_#{enabled_locale}",
                  label: t('shared.labels.translated_field',
                         field: t('activerecord.attributes.story.description_share'),
                         language: enabled_locale_name) %>

      <div class="file input optional form-group" id="story_image_share_<%= enabled_locale %>_input">
        <span class="form-label">
          <label for="story_image_share_<%= enabled_locale %>" class=" control-label"><%= t('shared.labels.translated_field',
                               field: t('activerecord.attributes.story.image_share'),
                               language: enabled_locale_name) %></label>
        </span>
        <% if @story.image_share(enabled_locale).exists? %>
          <%= image_tag(@story.image_share(enabled_locale).url('thumb')) %>
        <% end %>
        <span class="form-wrapper">
          <input id="story_image_share_<%= enabled_locale %>" accept="image/*" type="file" name="story[image_share_<%= enabled_locale %>]" />
        </span>
      </div>


      <hr />
      <h2><%= t('.image') %></h2>

      <%= f.input "image_credit_#{enabled_locale}",
                  label: t('shared.labels.translated_field',
                         field: t('activerecord.attributes.story.image_credit'),
                         language: enabled_locale_name) %>
      <%= f.input "image_caption_#{enabled_locale}",
                  label: t('shared.labels.translated_field',
                         field: t('activerecord.attributes.story.image_caption'),
                         language: enabled_locale_name) %>
    <% end %>

    <%= f.input :sort_order %>
    <%= f.input :is_published %>
    <%= f.input :published_at, as: :string, input_html: { style: 'width: 10em;' } %>

    <hr />

    <h2><%= t('.images') %></h2>

    <div class="file input optional form-group" id="story_image_homepage_input">
      <span class="form-label">
        <label for="story_image_homepage" class=" control-label"><%= t('activerecord.attributes.story.image_homepage') %></label>
      </span>
      <% if object.image_homepage.exists? %>
        <%= image_tag(object.image_homepage.url('thumb')) %>
      <% end %>
      <span class="form-wrapper">
        <input accept=".jpg,.jpeg,.png,.gif" id="story_image_homepage" name="story[image_homepage]" type="file">
      </span>
    </div>

    <div class="file input optional form-group" id="story_image_story_input">
      <span class="form-label">
        <label for="story_image_story" class=" control-label"><%= t('activerecord.attributes.story.image_story') %></label>
      </span>
      <% if object.image_story.exists? %>
        <%= image_tag(object.image_story.url('thumb')) %>
      <% end %>
      <span class="form-wrapper">
        <input accept=".jpg,.jpeg,.png,.gif" id="story_image_story" name="story[image_story]" type="file">
      </span>
    </div>



  <% end %>

  <%= f.actions do %>
    <%= f.action :submit, button_html: { class: 'btn btn-success' } %>
  <% end %>
<% end %>
