<div class="container">
  <div class="motto"><%= t('shared.common.motto') %></div>
  <div class="aside">
    <div class="poster-container">
      <%= link_to @story.image_story.url, class: 'swipebox' do %>
        <div class="poster" style="background: url(<%= @story.image_story.url %>) top/cover no-repeat;"></div>
      <% end %>
      <div class="bg"></div>
      <div class="pagination">
        <div class="pagination-container">
          <% @prev.each {|st| %>
            <%= link_to story_show_path(st), class: 'prev', title: st.title do %>
              <%= image_tag(st.image_story.url(:pagination), alt: st.title) %>
            <% end %>
          <% } %>
          <div class="current">Current</div>
          <% @next.each {|st| %>
            <%= link_to story_show_path(st), class: 'next', title: st.title do %>
              <%= image_tag(st.image_story.url(:pagination), alt: st.title) %>
            <% end %>
          <% } %>
        </div>
      </div>
    </div>
    <div class="lane">
      <div class="card">
        <div class="title"><%= @story.title %></div>
        <div class="author"><%= @story.author %></div>
      </div>
      <div class="tools">
        <div class="tools-container">
          <div class="col">
            <a href="javascript:window.print()" class="print"><%= image_tag('print.svg') %></a>
          </div>

          <div class="col col-fill">
            <%
              img_cap = []
              img_cap << t('.image_caption', cap: @story.image_caption) if @story.image_caption.present?
              img_cap << t('.image_credit', credit: @story.image_credit) if @story.image_credit.present?
            %>
            <div class="image-caption"><%= img_cap.join(' ') %></div>
          </div>
          <div class="col">
            <div class="social">
              <ul class="social-list"><li class="facebook"><%= link_to image_tag('fb_story.svg'),
                        "https://facebook.com",
                        target: '_blank',
                        title: t("shared.common.facebook") %></li><li class="twitter"><%= link_to image_tag('twitter_story.svg'),
                        "https://twitter.com",
                        target: '_blank',
                        title: t('shared.common.twitter') %></li><li class="linkedin"><%= link_to image_tag('linkedin_story.svg'),
                        "https://linkedin.com",
                        target: '_blank',
                        title: t('shared.common.linkedin') %></li></ul>
              <div class="social-toggle">
                <%= image_tag('share_story.svg', class: 'share') %>
                <%= image_tag('close.svg', class: 'close') %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="content">
  <div class="content-inner">
    <%= simple_format_no_tags(@story.content, {}, sanitize: false) %>
    <% if @story.footnotes.present? %>
      <h2><%= t('.footnotes') %></h2>
      <div class="footnotes">
        <%= simple_format_no_tags(@story.footnotes, {}, sanitize: false) %>
      </div>
    <% end %>
  </div>
</div>

