<% page_title @about.title %>

<div class="aside">
  <div class="col">
    <div class="about"><span>ABOUT <br />THE PROJECT</span><%= image_tag("blue_arrow.png") %></div>
    <% [1,2].each{|e| %>
        <%= link_to asset_path("about/#{e}.jpg"), class: 'swipebox slide next', title: "#{e}" do %>
          <%= image_tag("about/#{e}.jpg", alt: "#{e}") %>
        <% end %>
    <% } %>
  </div>
  <div class="col">
    <% [3,4,5].each{|e| %>
        <%= link_to asset_path("about/#{e}.jpg"), class: 'swipebox slide next', title: "#{e}" do %>
          <%= image_tag("about/#{e}.jpg", alt: "#{e}") %>
        <% end %>
    <% } %>
  </div>
</div>
<div class="content">
  <%= simple_format_no_tags @about.content, {}, sanitize: false %>
</div>
