<% page_title @about.title %>

<%#
  img_cap = []
  img_cap << t('.image_caption', cap: @story.image_caption) if @story.image_caption.present?
  img_cap << t('.image_credit', credit: @story.image_credit) if @story.image_credit.present?
%>
<div class="aside">
  <div class="col">
    <div class="about"><span><%= @about.title %></span><%= image_tag("blue_arrow.png") %></div>
    <% @images.only_left.each{|img| %>
      <%
        img_cap = []
        img_cap << t('.image_caption', cap: img.image_caption) if img.image_caption.present?
        img_cap << t('.image_credit', credit: img.image_credit) if img.image_credit.present?
      %>
      <% title = img_cap.join(' ') %>
      <%= link_to img.image.url, class: 'swipebox', title: title do %>
        <%= image_tag(img.image.url(:thumb), alt: title, title: title) %>
      <% end %>
    <% } %>
  </div>
  <div class="col">
    <% @images.only_right.each {|img| %>
      <%
        img_cap = []
        img_cap << t('.image_caption', cap: img.image_caption) if img.image_caption.present?
        img_cap << t('.image_credit', credit: img.image_credit) if img.image_credit.present?
      %>
      <% title = img_cap.join(' ') %>
      <%= link_to img.image.url, class: 'swipebox', title: title do %>
        <%= image_tag(img.image.url(:thumb), alt: title, title: title) %>
      <% end %>
    <% } %>
  </div>
</div>
<div class="content">
  <%= simple_format_no_tags @about.content, {}, sanitize: false %>
</div>
