<nav>
  <div class="nav-logo-outer">
    <div class="nav-logo-inner">
      <%= link_to root_path,
                  title: t('.logo'), class: 'nav-logo' do %>
        <%= image_tag("logo_#{I18n.locale}.svg", class: 'large') %>
        <%= image_tag("logo_#{I18n.locale}_small.svg", class: 'small') %>
      <% end %>
      <div class="nav-about" lang="<%= I18n.locale %>">
        <div class="nav-separator"></div>
        <%= link_to t('.about'), about_path %>
      </div>
    </div>
  </div>
  <% if !@is_story_page %>
    <div class="nav-motto"><%= t('.motto') %></div>
  <% end %>
  <div class="nav-menu">
    <div class="nav-about">
      <%= link_to t('.about'), about_path %>
      <div class="nav-separator"></div>
    </div>
    <div class="nav-lang">
      <ul class='nav-lang-list'>
        <% ln = I18n.available_locales.length %>
        <% I18n.available_locales.each_with_index do |locale, locale_i| %>
          <li class='<%= "active" if I18n.locale == locale %>'>
            <%= link_to t("shared.locale.long.#{locale}"),
                  url_for(locale: locale),
                  class: "#{I18n.locale == locale ? 'active' : nil}" %>
          </li>
          <% if ln != locale_i + 1 %>
            <li class="nav-lang-separator">/</li>
          <% end %>
        <% end %>
      </ul>
    </div>
    <% if user_signed_in? %>
      <ul class="nav-dropdown">
        <li class="dropdown">
          <a href="#" id="user-dropdown" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
            <%= current_user.email.split("@").first.capitalize %>
          </a>
          <ul class="dropdown-menu" role="menu">
            <% if current_user.is?(['super_admin', 'site_admin', 'content_manager']) %>
              <li><%= link_to t('shared.links.stories'), admin_stories_path %></li>
            <% end %>
            <% if current_user.is?(['super_admin', 'site_admin', 'content_manager']) %>
              <li><%= link_to t('shared.links.page_contents'), admin_page_contents_path %></li>
            <% end %>
            <% if current_user.is?(['super_admin', 'site_admin']) %>
              <li><%= link_to t('activerecord.models.user', count: 999), admin_users_path %></li>
            <% end %>
            <li class='divider'>

            </li>
            <li>
              <%= link_to t('.account.edit_profile'),
                          edit_user_registration_path %>
            </li>
            <li>
              <%= link_to t('.account.logout'),
                          destroy_user_session_path,
                          method: :delete %>
            </li>
          </ul>
        </li>
      </ul>
    <% end %>
    <div class="nav-toggle">
      <%= image_tag('toggle.svg', class: 'toggle') %>
      <%= image_tag('close.svg', class: 'close') %>
    </div>
  </div>



  <% if !@is_story_page %>
  <% title = URI::encode(content_for?(:page_title) ? "#{yield(:page_title)} | #{t("shared.common.name")}" : "#{t("shared.common.name")}".html_safe) %>
    <div class="nav-social">
      <ul class="nav-social-list"><li class="facebook"><%= link_to image_tag('fb.svg', alt: t("shared.common.facebook"), title: t("shared.common.facebook")),
                "https://www.facebook.com/sharer/sharer.php?u=#{root_url}",
                onclick:"javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;"
                 %></li><li class="twitter"><%= link_to image_tag('twitter.svg', alt: t("shared.common.twitter"), title: t("shared.common.twitter")), "https://twitter.com/share?text=#{title}", onclick:"javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;" %>
                </li><li class="linkedin"><%= link_to image_tag('linkedin.svg', alt: t("shared.common.linkedin"), title: t("shared.common.linkedin")), "https://www.linkedin.com/shareArticle?mini=true&url=#{root_url}&title=#{title}", onclick:"javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;" %></li></ul>
      <div class="nav-social-toggle">
        <%= image_tag('share.svg', class: 'share') %>
        <%= image_tag('close.svg', class: 'close') %>
      </div>
    </div>
  <% end %>
</nav>
